.menuBox {
    width: 14em;
    position: absolute;
    left: 7em;
    margin-top: 3em;
    padding-left: 1em;
    border-right: 1px solid black;
}

.menuBoxTitle .logoText {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: sans-serif;
}

.menuBoxTitle .loginText {
    font-size: 1em;
    color: black;
    position: relative;
    top: -0.5em;
}

.menuBox .level1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuBox ul {
    list-style-type: none;
}