html {
	padding-bottom: 0;
  }

.calendar {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.calendar div {
	padding: 2px;
	margin: -2px;
	border-style: solid;
	border-width: thin;
	width: 10px;
	height: 10px;
	display: inline-block;
}

#hover-content {
	position: relative;
	overflow: hidden;
    display: none;
	width: 170px;
	background-color: gray;
	height: 10px;
	font-size: 12px;
	/* left: 25px; */
	bottom: 25px;
}

.calendar:hover #hover-content {
	display: inline-block;
}